/*<meta sourceDocument="D:\Reference\Manual requirements.docx" />*/

p
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

h1.\0000DCberschrift1
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 30pt;
	margin-bottom: 30pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-size: 30pt;
}

h2.\0000DCberschrift2
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 18pt;
	margin-bottom: 6pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 18pt;
}

p.Textk\0000F6rper
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
}

h3.\0000DCberschrift3
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 12pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-size: 14pt;
}

li.Textk\0000F6rper
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
}

p.Bodytextjustified
{
	margin-top: 6pt;
	text-align: justify;
	font-family: 'Times New Roman';
}

p.StyleBodyTextItalic
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
	font-style: italic;
}

li.Bodytextjustified
{
	margin-top: 6pt;
	text-align: justify;
	font-family: 'Times New Roman';
}

li.Aufz\0000E4hlungszeichen
{
	font-family: 'Times New Roman';
}

p.Aufz\0000E4hlungszeichen
{
	font-family: 'Times New Roman';
}

p.Listenabsatz
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

p.TableHeading
{
	font-weight: bold;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-right: 4pt;
	font-family: Arial;
}

p.TableText
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-size: 9pt;
}

h4.\0000DCberschrift4
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 12pt;
	margin-left: 72pt;
	mc-heading-level: 4;
	font-family: Arial;
	font-size: 12pt;
}

h5.\0000DCberschrift5
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 12pt;
	margin-left: 144pt;
	mc-heading-level: 5;
	font-family: Arial;
	font-size: 12pt;
}

h6.\0000DCberschrift6
{
	margin-top: 12pt;
	margin-left: 144pt;
	mc-heading-level: 6;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 11pt;
}

p.Definition
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
}

li.Listennummer
{
	font-family: 'Times New Roman';
}

p.Beschriftung
{
	margin-top: 3pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 9pt;
}

span.span_1
{
	font-weight: bold;
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 36pt;
}

span.span_2
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
}

img.img_1
{
	visibility: visible;
}

td.td_1
{
	background-color: #auto;
}

table.table_1
{
	border-collapse: collapse;
}

p.StyleBodyTextItalic_1
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
	font-style: italic;
	margin-left: 0pt;
}

li.Aufz\0000E4hlungszeichen_1
{
	font-family: 'Times New Roman';
	text-align: justify;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 18pt;
}

p.Aufz\0000E4hlungszeichen_1
{
	font-family: 'Times New Roman';
	margin-left: 18pt;
	text-align: justify;
}

p.Aufz\0000E4hlungszeichen_2
{
	font-family: 'Times New Roman';
	text-align: justify;
}

p.Aufz\0000E4hlungszeichen_3
{
	font-family: 'Times New Roman';
	margin-left: 0pt;
	text-align: justify;
}

span.span_3
{
	font-style: italic;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 18pt;
}

li.Aufz\0000E4hlungszeichen_2
{
	font-family: 'Times New Roman';
	list-style-type: disc;
}

p.Textk\0000F6rper_1
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
	margin-left: 36pt;
}

td.td_2
{
	background-color: #auto;
	padding-left: 0pt;
	padding-right: 0pt;
}

p.TableText_1
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-size: 9pt;
	font-weight: bold;
}

td.td_3
{
	padding-left: 0pt;
	padding-right: 0pt;
}

p.TableText_2
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-size: 9pt;
	margin-left: 0pt;
}

table.table_2
{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

td.td_4
{
	border-bottom-style: double;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: none;
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_5
{
	border-left-style: none;
	border-bottom-style: double;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: double;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_6
{
	border-left-style: double;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: double;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_7
{
	border-top-style: double;
	border-top-width: 1pt;
	border-top-color: black;
	background-color: #auto;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_8
{
	border-top-style: double;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: double;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_9
{
	border-top-style: double;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: double;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_10
{
	background-color: #auto;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_11
{
	border-right-style: double;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_12
{
	border-left-style: double;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_13
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	background-color: #auto;
	border-right-style: double;
	border-right-width: 1pt;
	border-right-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_14
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	background-color: #auto;
	border-right-style: double;
	border-right-width: 1pt;
	border-right-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_15
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_16
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	padding-left: 0pt;
	padding-right: 0pt;
}

p.TableText_3
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 8pt;
}

span.span_4
{
	font-weight: bold;
	font-size: 8pt;
}

p.TableText_4
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-size: 8pt;
}

td.td_17
{
	background-color: #auto;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_18
{
	background-color: #auto;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-left: 0pt;
	padding-right: 0pt;
}

p.TableText_5
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
	font-family: 'Times New Roman';
	font-size: 9pt;
	text-align: justify;
}

p.Beschriftung_1
{
	margin-top: 3pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 9pt;
	text-align: justify;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
}

p.p_1
{
	text-align: center;
	font-size: 48pt;
	font-family: MarVoSym;
}

span.span_5
{
	font-size: 8pt;
}

p.p_2
{
	text-align: center;
}

p.p_3
{
	margin-left: 72pt;
}

li.Textk\0000F6rper_1
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
	list-style-type: square;
}

ul.ul_3
{
	list-style-type: square;
	margin-left: 108pt;
}

p.Textk\0000F6rper_2
{
	margin-top: 6pt;
	font-family: 'Times New Roman';
	text-align: center;
}

ol.ol_2
{
	list-style-type: decimal;
	margin-left: 36pt;
}

