
dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)


###
# Create the asyn port to talk to the Pilatus on port 41234.
drvAsynIPPortConfigure("camserver","$(PILATUS_DCU_IP):41234")
asynOctetSetInputEos("camserver", 0, "\x18")
asynOctetSetOutputEos("camserver", 0, "\n")

pilatusDetectorConfig("$(PORT)", "camserver", $(XSIZE), $(YSIZE), 0, 0)
dbLoadRecords("$(ADPILATUS)/db/pilatus.template","P=$(PREFIX),R=cam1:,PORT=$(PORT),ADDR=0,TIMEOUT=1,CAMSERVER_PORT=camserver")

set_requestfile_path("$(ADPILATUS)/pilatusApp/Db")

dbLoadRecords("$(ASYN)/db/asynRecord.db", "P=$(PREFIX),R=camserver:AsynIO,PORT=camserver,ADDR=0,TIMEOUT=1,OMAX=0,IMAX=0")
