## Register all support components
dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# zebra specific commands
drvAsynIPPortConfigure("SERIAL_PORT","$(HOSTNAME):$(PORT)")
zebraConfig("ZEBRA", "SERIAL_PORT", 100000)
