#
# {{ ansible_managed }}
#
file "$(PPMAC)/db/ppmacaux.db"
{{"{"}}
pattern
{{"{"}}SYSP, DEVP, SYSV, DEVV, AXIS, PORT{{"}"}}
{% for axis in ioc.axes %}
{{"{"}}"{{ deploy_ioc_merged_env.CT_SYS }}", "{{"{"}}{{ deploy_ioc_merged_env.CONTROLLER }}-Ax:{{ axis.num }}{{"}"}}", "{{ deploy_ioc_merged_env.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}", {{ axis.num }}, "{{ deploy_ioc_merged_env.SSH_PORT }}"{{"}"}}
{% endfor %}
{{"}"}}
