#
# {{ ansible_managed }}
#
file "$(PPMAC)/db/pmac_asyn_motor.db"
{{"{"}}
pattern
{{"{"}}SYS, DEV, MOTOR, SPORT, ADDR, DESC, DTYP, PREC, EGU{{"}"}}
{% for axis in ioc.axes %}
{{"{"}}"{{ deploy_ioc_merged_env.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}", "{{ deploy_ioc_merged_env.CTRL_PORT }}", "{{ deploy_ioc_merged_env.SSH_PORT }}", {{ axis.num }}, "{{ axis.desc }}", asynMotor, 4, "{{ axis.egu }}"{{"}"}}
{% endfor %}
{{"}"}}
