/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	cursor: hand;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

MadCap|expandingBody
{
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	color: #000000;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	color: #878787;
}

MadCap|variable.HeaderFooter
{
	
}

@media print
{
	MadCap|variable.HeaderFooter
	{
		font-size: 9pt;
		font-family: FrutigerCon;
	}

	h1
	{
		margin-bottom: 0;
		margin-top: 0;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
		font-size: 24pt;
		color: #005ca9;
		letter-spacing: 1px;
		mc-auto-number-position: inside-head;
		mc-auto-number-format: 'A:';
	}

	h2
	{
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 1cm;
		margin-top: 18pt;
		margin-bottom: -0.25pt;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
		letter-spacing: 1px;
		color: #005ca9;
		mc-auto-number-format: 'CH:';
		font-size: 12pt;
	}

	h3
	{
		margin-top: 14pt;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 1cm;
		color: #005ca9;
		margin-right: 0;
		margin-bottom: -0.17pt;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
		mc-auto-number-format: 'CH:';
		font-size: 12pt;
	}

	table
	{
		font-family: FrutigerCon;
		text-align: left;
		padding-left: 1pt;
		padding-right: 1pt;
		padding-top: 1pt;
		padding-bottom: 1pt;
		font-size: 10pt;
		vertical-align: top;
	}

	p.TableCaption
	{
		color: #999999;
		margin-bottom: 0;
		mc-auto-number-format: 'GT:Table {n+}';
	}

	h4
	{
		margin-bottom: 0;
		margin-top: 14pt;
		line-height: 12pt;
		font-weight: normal;
		font-style: normal;
		font-family: FrutigerCon;
		mc-heading-level: 0;
		font-size: 10pt;
		color: #005ca9;
	}

	img.Equation
	{
		font-family: FrutigerCon;
		color: #000000;
		font-size: 9pt;
		line-height: 12pt;
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-top-width: 1px;
		border-bottom-style: none;
		mc-auto-number-position: float-right;
		padding-top: -5px;
		mc-auto-number-format: 'E:({n+})';
	}

	p.FigureCaption
	{
		color: #999999;
		margin-bottom: 0;
		mc-auto-number-format: 'GF:Figure {n+}';
	}

	ul
	{
		margin: 0;
		margin-left: 15px;
		list-style-type: square;
		color: #005ca9;
	}

	p.TOC1
	{
		margin-top: 14px;
		color: #999999;
		font-weight: normal;
		font-style: normal;
		mc-leader-format: '_';
		margin-left: -2cm;
	}

	p.TOC2
	{
		color: #999999;
		mc-leader-format: '_';
	}

	p.TOC3
	{
		color: #999999;
		mc-leader-format: '_';
		mc-auto-number-format: ;
		mc-italic-correction: 0;
		padding-right: 0px;
	}

	MadCap|tocProxy
	{
		border-top-color: #ffffff;
		border-top-width: 0px;
		padding-left: -20px;
	}

	p.FrontMatterLists
	{
		color: #999999;
		margin-left: 0;
		mc-leader-format: 'underline';
		font-family: FrutigerCon;
		font-weight: normal;
		font-style: normal;
	}

	h1.TOC
	{
		mc-heading-level: 0;
		mc-auto-number-format: 'A:';
		margin-bottom: 18pt;
		margin-top: 0;
	}

	h1.NoNumber
	{
		mc-auto-number-format: 'A:';
		margin-bottom: 18pt;
		margin-top: 0;
	}

	MadCap|listOfProxy
	{
		mc-leader-format: '_';
		border-top-color: #ffffff;
		border-top-width: 0px;
		padding-left: 0px;
		font-family: FrutigerCon;
	}

	img.Warning
	{
		vertical-align: middle;
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;
	}

	em
	{
		mc-italic-correction: 2pt;
		font-size: 10pt;
		text-decoration: underline;
		font-weight: normal;
		font-style: normal;
		font-family: FrutigerCon;
	}

	MadCap|indexProxy
	{
		border-top-color: #ffffff;
		border-top-width: 0px;
		font-family: FrutigerCon;
		font-size: 9pt;
	}

	abbr
	{
		font-family: FrutigerCon;
		text-transform: uppercase;
	}

	p.Index1
	{
		mc-leader-format: '_';
		color: #999999;
	}

	p.IndexHeading
	{
		font-weight: normal;
		font-style: normal;
		color: #878787;
		background-color: #ffffff;
		margin-top: 18pt;
	}

	MadCap|footnote
	{
		font-size: 8pt;
		font-family: FrutigerCon;
	}

	MadCap|footnotesBlock
	{
		border-top-length: 33%;
	}

	strong
	{
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
	}

	em.Alt
	{
		font-weight: normal;
		font-style: italic;
		text-decoration: none;
		font-size: 10pt;
		font-family: 'Arial Narrow';
		mc-italic-correction: 0;
	}

	p.Title1
	{
		font-size: 42pt;
		color: #005ca9;
		text-align: center;
		vertical-align: text-top;
		margin-top: 21px;
		padding-top: 21px;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
	}

	p.Title2
	{
		font-size: 18pt;
		color: #005ca9;
		text-align: center;
		padding-top: 2cm;
		font-weight: bold;
		font-style: normal;
		font-family: FrutigerCon;
	}

	p.Index2
	{
		color: #999999;
		mc-leader-format: 'underline';
		margin-left: 20px;
	}

	p.Index3
	{
		color: #999999;
		mc-leader-format: 'underline';
		margin-left: 40px;
	}

	p.Edit
	{
		background-color: #ffff00;
		font-weight: normal;
		font-style: normal;
	}

	p.Note
	{
		color: #878787;
		mc-auto-number-format: '{family FrutigerCon}{b}{color #878787}Note: {/color}{/b}{/family}';
	}

	MadCap|xref
	{
		mc-format: '{quote}{paratext}{quote} on page {page}';
	}

	span.GUIItem
	{
		text-decoration: underline;
	}

	MadCap|xref.Caption
	{
		mc-format: '{paranum}';
	}

	span.Edit
	{
		background-color: #ffff00;
	}

	p
	{
		font-family: FrutigerCon;
		widows: 2;
		orphans: 2;
		font-size: 10pt;
		mc-short-line-method: loosen-tighten;
		mc-short-line-tighten-maximum: 2;
		mc-short-line-loosen-maximum: 2;
		mc-short-line-step: 0, 1;
		line-height: 15pt;
	}

	ol
	{
		margin: 0;
		list-style-position: outside;
		margin-left: 20px;
		line-height: 20px;
	}

	td.Subscript
	{
		padding-bottom: 3px;
	}

	li
	{
		font-family: FrutigerCon;
		list-style-position: outside;
		left: 20px;
		margin-left: 20px;
		font-size: 10pt;
		margin-top: 1px;
	}

	MadCap|dropDownHead
	{
		font-weight: bold;
		font-style: normal;
		font-size: 10pt;
		font-family: FrutigerCon;
		color: #878787;
	}

	MadCap|dropDownHotspot
	{
		font-size: 10pt;
		font-family: FrutigerCon;
		font-weight: normal;
		font-style: normal;
		color: #005ca9;
	}

	a
	{
		text-decoration: none;
		color: #85acce;
	}

	a:focus
	{
		color: #000000;
	}

	a:hover
	{
		color: #000000;
	}

	a:link
	{
		text-decoration: none;
		color: #000000;
	}

	a:visited
	{
		text-decoration: none;
	}

	p.code
	{
		font-family: 'Courier New';
	}

	span.File
	{
		font-weight: normal;
		font-style: italic;
		font-family: 'Arial Narrow';
		font-size: 10pt;
	}

	MadCap|dropDownHotspot:hover
	{
		color: #005ca9;
	}

	MadCap|dropDownHotspot:focus
	{
		color: #005ca9;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'A:';
	}

	td.AlignMiddle
	{
		vertical-align: middle;
	}

	span.code
	{
		font-family: 'Courier New';
	}

	p.Bullet
	{
		margin-left: 23px;
		text-indent: -24px;
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}     ';
	}

	p.Bullet2
	{
		left: 0px;
		text-indent: -22px;
		margin-left: 43px;
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}    ';
	}

	p.BulletNumber
	{
		margin-left: 63px;
		text-indent: -24px;
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}     ';
	}

	p.BulletTable
	{
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}   ';
	}

	table.Filled
	{
		background-color: #cccccc;
	}

	tbody
	{
		font-family: FrutigerCon;
		font-size: 10pt;
	}

	td
	{
		vertical-align: top;
	}

	td.AlignTop
	{
		vertical-align: top;
		font-family: FrutigerCon;
		font-size: 10pt;
	}

	td.Filled
	{
		background-color: #cccccc;
		font-family: FrutigerCon;
		font-size: 10pt;
		vertical-align: top;
	}

	td.open
	{
		font-family: FrutigerCon;
		font-size: 10pt;
	}

	th
	{
		font-weight: normal;
		font-style: normal;
		font-family: FrutigerCon;
		text-align: left;
		vertical-align: middle;
		font-size: 10pt;
	}

	th.open
	{
		font-size: 9pt;
		color: #999999;
		background-color: #ffffff;
	}

	thead
	{
		font-size: 9pt;
		font-family: FrutigerCon;
		color: #005ca9;
		background-color: #c8daee;
	}

	h2.NoNumber
	{
		mc-auto-number-format: 'A:';
	}
}

table.Filled
{
	width: 100%;
	caption-side: top;
}

@media non-print
{
	h1
	{
		font-size: 14pt;
		font-family: Arial;
		color: #005ca9;
		margin-bottom: 0;
		margin-top: 0;
	}

	h2
	{
		font-family: Arial;
		margin-bottom: 0;
		font-size: 14pt;
		color: #005ca9;
		margin-top: 0;
	}

	p
	{
		font-size: 9pt;
		font-family: Arial;
		margin-top: 6px;
	}

	h3
	{
		margin-bottom: 0;
		font-size: 14pt;
		color: #005ca9;
		margin-top: 0;
	}

	h4
	{
		font-size: 9pt;
		color: #999999;
		margin-bottom: 0;
		margin-top: 18.12px;
	}

	ol
	{
		font-family: Arial;
		font-size: 9pt;
	}

	abbr
	{
		font-variant: normal;
		text-transform: uppercase;
	}

	span.GUIItem
	{
		font-weight: bold;
		font-style: normal;
	}

	p.Bullet
	{
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
		margin-left: 23px;
		text-indent: -23px;
	}

	p.Bullet2
	{
		text-indent: -22px;
		margin-left: 43px;
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
	}

	em.Alt
	{
		font-style: normal;
		text-decoration: underline;
	}

	p.BulletNumber
	{
		text-indent: -22px;
		margin-left: 62px;
		mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
	}

	p.FigureCaption
	{
		mc-hidden: hidden;
	}

	p.TableCaption
	{
		mc-hidden: hidden;
	}

	p.Edit
	{
		background-color: #ffff00;
	}

	thead
	{
		background-color: #c8daee;
		color: #005ca9;
		font-size: 9pt;
		text-align: left;
		display: table-header-group;
		font-style: normal;
		font-family: ;
	}

	th
	{
		text-align: left;
		font-weight: inherit;
	}

	table
	{
		text-align: left;
		padding-left: 1pt;
		padding-right: 1pt;
		padding-top: 1pt;
		padding-bottom: 1pt;
		font-size: 10pt;
		font-family: ;
	}

	tbody
	{
		font-size: 10pt;
		font-family: ;
	}

	table.Filled
	{
		background-color: #cccccc;
		font-family: ;
		padding-left: 1pt;
		padding-right: 1pt;
		padding-top: 1pt;
		padding-bottom: 1pt;
	}

	td.Filled
	{
		background-color: #cccccc;
		font-family: FrutigerCon;
		font-size: 10pt;
	}

	MadCap|dropDownHead
	{
		font-weight: bold;
		font-style: normal;
		font-size: 9pt;
		font-family: Arial;
		color: #878787;
	}

	MadCap|dropDownHotspot
	{
		font-weight: bold;
		font-style: normal;
		font-size: 10pt;
		font-family: Arial;
		color: #878787;
	}

	MadCap|xref.Caption
	{
		
	}

	MadCap|xref:hover
	{
		color: #000000;
		text-decoration: underline;
	}

	MadCap|xref
	{
		text-decoration: none;
		color: #85acce;
		mc-format: "{paratext}";
	}

	MadCap|xref:focus
	{
		text-decoration: underline;
		color: #000000;
	}

	MadCap|expandingBody
	{
		color: #000000;
		font-weight: normal;
		font-style: normal;
	}

	MadCap|expandingHead
	{
		font-weight: bold;
		font-style: normal;
		font-size: 10pt;
		color: #878787;
	}

	a
	{
		text-decoration: none;
		color: #85acce;
	}

	a:link
	{
		text-decoration: none;
		color: #85acce;
	}

	a:focus
	{
		text-decoration: underline;
		color: #000000;
	}

	a:hover
	{
		text-decoration: underline;
		color: #000000;
	}

	a:visited
	{
		color: #005ca9;
		text-decoration: none;
	}

	p.Note
	{
		mc-auto-number-format: '{b}NOTE: {/b}';
		color: #005ca9;
		background-color: #c8daee;
	}

	li
	{
		margin-top: 6px;
	}

	span.File
	{
		font-style: italic;
		font-family: Arial;
		font-size: 10pt;
	}
}

h1
{
	font-size: 14pt;
	font-family: Arial;
	color: #005ca9;
	margin-bottom: 0;
	margin-top: 0;
}

h2
{
	font-family: Arial;
	margin-bottom: 0;
	font-size: 14pt;
	color: #005ca9;
	margin-top: 0;
}

p
{
	font-size: 9pt;
	font-family: Arial;
	margin-top: 6px;
}

h3
{
	margin-bottom: 0;
	font-size: 14pt;
	color: #005ca9;
	margin-top: 0;
}

h4
{
	font-size: 9pt;
	color: #999999;
	margin-bottom: 0;
	margin-top: 18.12px;
}

ol
{
	font-family: Arial;
	font-size: 9pt;
}

abbr
{
	font-variant: normal;
	text-transform: uppercase;
}

span.GUIItem
{
	font-weight: bold;
	font-style: normal;
}

p.Bullet
{
	mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
	margin-left: 23px;
	text-indent: -23px;
}

p.Bullet2
{
	text-indent: -22px;
	margin-left: 43px;
	mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
}

em.Alt
{
	font-style: normal;
	text-decoration: underline;
}

p.BulletNumber
{
	text-indent: -22px;
	margin-left: 62px;
	mc-auto-number-format: 'B:{family arial}{color #005ca9}■{/color}{/family}{color #ffffff} —{/color}';
}

p.FigureCaption
{
	mc-hidden: hidden;
}

p.TableCaption
{
	mc-hidden: hidden;
}

p.Edit
{
	background-color: #ffff00;
}

thead
{
	background-color: #c8daee;
	color: #005ca9;
	font-size: 9pt;
	text-align: left;
	display: table-header-group;
	font-style: normal;
	font-family: ;
}

th
{
	text-align: left;
	font-weight: inherit;
}

table
{
	text-align: left;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	font-size: 10pt;
	font-family: ;
}

tbody
{
	font-size: 10pt;
	font-family: ;
}

table.Filled
{
	background-color: #cccccc;
	font-family: ;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

td.Filled
{
	background-color: #cccccc;
	font-family: FrutigerCon;
	font-size: 10pt;
}

MadCap|dropDownHead
{
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	font-family: Arial;
	color: #878787;
}

MadCap|dropDownHotspot
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	font-family: Arial;
	color: #878787;
}

MadCap|xref.Caption
{
	
}

MadCap|xref:hover
{
	color: #000000;
	text-decoration: underline;
}

MadCap|xref
{
	text-decoration: none;
	color: #85acce;
	mc-format: "{paratext}";
}

MadCap|xref:focus
{
	text-decoration: underline;
	color: #000000;
}

MadCap|expandingBody
{
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

MadCap|expandingHead
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	color: #878787;
}

a
{
	text-decoration: none;
	color: #85acce;
}

a:link
{
	text-decoration: none;
	color: #85acce;
}

a:visited
{
	color: #005ca9;
	text-decoration: none;
}

a:focus
{
	text-decoration: underline;
	color: #000000;
}

a:hover
{
	text-decoration: underline;
	color: #000000;
}

p.Note
{
	mc-auto-number-format: '{b}NOTE: {/b}';
	color: #005ca9;
	background-color: #c8daee;
}

li
{
	margin-top: 6px;
}

span.File
{
	font-style: italic;
	font-family: Arial;
	font-size: 10pt;
}

