#!/bin/bash

OPI_DIR={{ deploy_ioc_ioc_directory }}/bobfiles

# Create the directory if it does not exist
if [ ! -d "$OPI_DIR" ]; then
  mkdir -p "$OPI_DIR"
fi

export EPICS_CA_AUTO_ADDR_LIST=NO
export EPICS_CAS_AUTO_BEACON_ADDR_LIST=NO
export EPICS_CA_ADDR_LIST={{ host_config.epics_interface.broadcast }}
export EPICS_CAS_BEACON_ADDR_LIST={{ host_config.epics_interface.broadcast }}
export EPICS_CAS_INTF_ADDR_LIST={{ host_config.epics_interface.address }}

export EPICS_PVA_AUTO_ADDR_LIST=NO
export EPICS_PVAS_AUTO_BEACON_ADDR_LIST=NO
export EPICS_PVA_ADDR_LIST={{ host_config.epics_interface.broadcast }}
export EPICS_PVAS_BEACON_ADDR_LIST={{ host_config.epics_interface.broadcast }}
export EPICS_PVAS_INTF_ADDR_LIST={{ host_config.epics_interface.address }}


{{ deploy_ioc_ioc_directory }}/venv/bin/pandablocks-ioc softioc --screens-dir="$OPI_DIR" --clear-bobfiles {{ ioc.environment.PANDA_HOSTNAME }} {{ ioc.environment.PREFIX }}
