errLogInit(2000)

dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

motorSimCreateController("$(PORT)", {{ ioc.substitutions.motorSim[0].instances | length }})

# Create axes as defined in the IOC configuration
{% for axis in ioc.substitutions.motorSim[0].instances %}
motorSimConfigAxis("$(PORT)", {{ axis[3] }}, {{ (axis[5] + device_roles_motorsim_soft_limit_offset) / device_roles_motorsim_default_res }}, {{ (axis[6] - device_roles_motorsim_soft_limit_offset) / device_roles_motorsim_default_res }}, 0, 0)
{% endfor %}
