#
# {{ ansible_managed }}
#
file "$(TPMAC)/db/motor.db"
{{"{"}}
pattern
{{"{"}}P, M, MOTOR, PORT, ADDR, DESC, DTYP, MRES, EGU, PREC, ALIAS{{"}"}}
{% for axis in ioc.axes %}
{{"{"}}"{{ ioc.environment.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}Mtr", "$(CONTROLLER_PORT)", "$(ASYN_PORT)", {{ axis.num }}, {{ axis.desc }}, asynMotor, {{ axis.mres }}, "{{ axis.egu }}", 4, ""{{"}"}}
{% endfor %}
{{"}"}}
