#!/bin/bash

# Configure EPICS network environment variables
export EPICS_CA_AUTO_ADDR_LIST=NO
export EPICS_CAS_AUTO_BEACON_ADDR_LIST=NO
export EPICS_CA_ADDR_LIST={{ host_config.epics_interface.broadcast }}
export EPICS_CAS_BEACON_ADDR_LIST={{ host_config.epics_interface.broadcast }}

# Start IOC here
{{ ioc.pixi_executable_path | default(device_roles_fpgabiologic_pixi_executable_path) }} run python -m fpgabiologic/main.py --list-pvs --prefix='{{ ioc.environment.PREFIX }} {{ ioc.environment.PANDA_PREFIX}}'
