
dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

drvAsynIPPortConfigure("$(PORT)", "$(IP):$(IP_PORT)", 0, 0, 0)
asynOctetSetInputEos("$(PORT)", 0, "\r\n")
asynOctetSetOutputEos("$(PORT)", 0, "\r\n")
