errlogInit(20000)

dbLoadDatabase("{{ deploy_ioc_required_module_path }}/iocs/kinetixIOC/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

ADKinetixConfig(0, "$(PORT)")

# Wait two seconds for ensuring camera initialized correctly
epicsThreadSleep(2)

asynSetTraceIOMask($(PORT), 0, 2)

# Main database
dbLoadRecords("$(ADKINETIX)/db/ADKinetix.template", "P=$(PREFIX),R=cam1:,PORT=$(PORT)")
set_requestfile_path("$(ADKINETIX)/db")
