#
# {{ ansible_managed }}
#
file "$(TOP)/db/cyberPDU.template"
{{"{"}}
pattern
{{"{"}}SYS, DEV, IP{{"}"}}
{{"{"}}"{{ environment.SYS }}", "{{ environment.DEV }}", "{{ environment.IP }}"{{"}"}}
{{"}"}}
