#
# {{ ansible_managed }}
#
file "$(TOP)/db/cyberPDU_Outlet.template"
{{"{"}}
pattern
{{"{"}}"SYS", "DEV", "NUM", "DESC", "IP"{{"}"}}
{% for num in range(1, num_outlets + 1) -%}
{{"{"}}"{{ environment.SYS }}", "{{ environment.DEV }}", {{ num }}, "PDU Outlet {{ num }}", "{{ environment.IP }}"{{"}"}}
{% endfor -%}
{{"}"}}
