---

- name: Fail if host configuration has not been loaded
  ansible.builtin.fail:
    msg: >-
      Host configuration dictionary must be loaded
      and include epics_interface (address & broadcast),
      softioc_user, and softioc_group!
  when: >-
    host_config is not defined or
    host_config.epics_interface is not defined or
    host_config.epics_interface.address is not defined or
    host_config.epics_interface.broadcast is not defined or
    host_config.softioc_user is not defined or
    host_config.softioc_group is not defined

- name: Merge locally-passed-in config with loaded host config
  when: deploy_ioc_extra_host_config is defined
  block:
    - name: Show extra host config
      ansible.builtin.debug:
        msg: "{{ deploy_ioc_extra_host_config }}"

    - name: Combine extra host config
      ansible.builtin.set_fact:
        host_config: "{{ host_config | combine(deploy_ioc_extra_host_config) }}"

- name: Print EPICS interface ip
  ansible.builtin.debug:
    msg: "EPICS interface IP: {{ host_config.epics_interface.address }}"

- name: Deploy netsetup file
  ansible.builtin.template:
    src: "templates/netsetup.j2"
    dest: "{{ deploy_ioc_common_dir }}/{{ inventory_hostname.split('.')[0] }}-netsetup.cmd" # yamllint disable-line rule:line-length
    owner: "{{ host_config.softioc_user }}"
    group: "{{ host_config.softioc_group }}"
    mode: "0664"

- name: Create empty list to store IOC names
  ansible.builtin.set_fact:
    deploy_ioc_full_ioc_list: []

- name: Get list of IOC names from loaded config
  ansible.builtin.set_fact:
    deploy_ioc_full_ioc_list: >-
      "{{ host_config |
          dict2items |
          selectattr('value', 'mapping') |
          selectattr('value.type', 'defined') |
          map(attribute='key') | list }}"

- name: Make deploymnent list all IOCs if requested
  ansible.builtin.set_fact:
    deploy_ioc_ioc_list: "{{ deploy_ioc_full_ioc_list }}"
  when: deploy_ioc_target == "all"

- name: Set deploy iocs to specified IOCs if requested
  ansible.builtin.set_fact:
    deploy_ioc_ioc_list: "{{ deploy_ioc_target.split(',') }}"
  when: deploy_ioc_target != "all"

- name: Show list of IOCs
  ansible.builtin.debug:
    msg: "Deploying IOCs: {{ deploy_ioc_ioc_list }}"

- name: Ensure required system packages are installed
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ deploy_ioc_required_system_packages }}"

- name: Deploy specified IOCs
  ansible.builtin.include_tasks: "deploy-ioc.yml"
  loop: "{{ deploy_ioc_ioc_list }}"
  loop_control:
    loop_var: deploy_ioc_ioc_name
    index_var: deploy_ioc_loop_index
