/*<meta Version="9" />*/

/* MadCap Table Style: */

@media non-print
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #969a99;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #969a99;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #969a99;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #969a99;
	}

	mcTableColumnStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #7eafd2;
	}

	mcTableHeadStyle
	{
		font-family: Tahoma;
		color: #000000;
		font-style: normal;
		background-color: #d2d4d3;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #969a99;
	}

	mcTableBodyStyle
	{
		background-color: #ffffff;
		color: #002f5f;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #7eafd2;
	}

	mcTableBodyStyle
	{
		background-color: #ebf6fc;
		color: #002f5f;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #7eafd2;
	}
}

mcTableStyle
{
	name: Normal;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	name: Header1;
	id: 2;
	background-color: #002f5f;
	text-align: left;
	font-family: 'Droid Serif Pro';
	color: #ffffff;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	cell-padding-left: 2px;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	background-color: #e5f5fb;
	cell-padding-left: 2px;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #99d8f0;
	cell-padding-left: 2px;
}

/* Cell Styles: */

@media non-print
{
	.TableStyle-Normal
	{
		border-left-style: solid;
		border-left-color: #969a99;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-color: #969a99;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #969a99;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #969a99;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-Normal-HeadI-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadI-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
		border-bottom-width: 1px;
		border-bottom-color: #969a99;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-HeadE-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadF-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
		border-bottom-width: 1px;
		border-bottom-color: #969a99;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-HeadF-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadH-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadD-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
		border-bottom-width: 1px;
		border-bottom-color: #969a99;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-HeadD-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadC-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadC-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadB-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadA-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadA-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-HeadG-Column1-Header1
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
		background-color: #d2d4d3;
	}

	.TableStyle-Normal-HeadG-Column1-Header1 p
	{
		color: #000000;
		font-family: Tahoma;
		font-style: normal;
	}

	.TableStyle-Normal-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyI-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyI-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyE-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyE-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyF-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyF-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyH-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyH-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyD-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyD-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyC-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyC-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyB-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyB-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyA-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyA-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyG-Column1-Body1
	{
		color: #002f5f;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyG-Column1-Body1 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyI-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
	}

	.TableStyle-Normal-BodyI-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyE-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyE-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyF-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyF-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyH-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyH-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyD-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
		border-bottom-width: 1px;
		border-bottom-color: #7eafd2;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyD-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyC-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
	}

	.TableStyle-Normal-BodyC-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyB-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
		border-right-width: 1px;
		border-right-color: #7eafd2;
		border-right-style: solid;
	}

	.TableStyle-Normal-BodyB-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyA-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
	}

	.TableStyle-Normal-BodyA-Column1-Body2 p
	{
		color: #002f5f;
	}

	.TableStyle-Normal-BodyG-Column1-Body2
	{
		color: #002f5f;
		background-color: #ebf6fc;
	}

	.TableStyle-Normal-BodyG-Column1-Body2 p
	{
		color: #002f5f;
	}
}

.TableStyle-Normal
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Normal-Column-Column1
{
	
}

.TableStyle-Normal-Head-Header1
{
	
}

.TableStyle-Normal-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadE-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadH-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadB-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
	text-align: left;
	background-color: #002f5f;
	padding-left: 2px;
}

.TableStyle-Normal-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Droid Serif Pro';
}

.TableStyle-Normal-FootI-Column1-
{
	
}

.TableStyle-Normal-FootI-Column1- p
{
	
}

.TableStyle-Normal-FootE-Column1-
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-FootE-Column1- p
{
	
}

.TableStyle-Normal-FootF-Column1-
{
	
}

.TableStyle-Normal-FootF-Column1- p
{
	
}

.TableStyle-Normal-FootH-Column1-
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-FootH-Column1- p
{
	
}

.TableStyle-Normal-FootD-Column1-
{
	
}

.TableStyle-Normal-FootD-Column1- p
{
	
}

.TableStyle-Normal-FootC-Column1-
{
	
}

.TableStyle-Normal-FootC-Column1- p
{
	
}

.TableStyle-Normal-FootB-Column1-
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-FootB-Column1- p
{
	
}

.TableStyle-Normal-FootA-Column1-
{
	
}

.TableStyle-Normal-FootA-Column1- p
{
	
}

.TableStyle-Normal-FootG-Column1-
{
	
}

.TableStyle-Normal-FootG-Column1- p
{
	
}

.TableStyle-Normal-Body-Body1
{
	
}

.TableStyle-Normal-BodyI-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyE-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyF-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyH-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyD-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyC-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyB-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyA-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyG-Column1-Body1
{
	background-color: #e5f5fb;
	padding-left: 2px;
}

.TableStyle-Normal-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Normal-Body-Body2
{
	
}

.TableStyle-Normal-BodyI-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyE-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyF-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyH-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyD-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyC-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyB-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Normal-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyA-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyG-Column1-Body2
{
	background-color: #99d8f0;
	padding-left: 2px;
}

.TableStyle-Normal-BodyG-Column1-Body2 p
{
	
}

mcTableStyle
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #969a99;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #969a99;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #969a99;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #969a99;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #7eafd2;
}

mcTableHeadStyle
{
	font-family: Tahoma;
	color: #000000;
	font-style: normal;
	background-color: #d2d4d3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #969a99;
}

mcTableBodyStyle
{
	background-color: #ffffff;
	color: #002f5f;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #7eafd2;
}

mcTableBodyStyle
{
	background-color: #ebf6fc;
	color: #002f5f;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #7eafd2;
}

.TableStyle-Normal
{
	border-left-style: solid;
	border-left-color: #969a99;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #969a99;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #969a99;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #969a99;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Normal-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
	border-bottom-width: 1px;
	border-bottom-color: #969a99;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
	border-bottom-width: 1px;
	border-bottom-color: #969a99;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
	border-bottom-width: 1px;
	border-bottom-color: #969a99;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
	background-color: #d2d4d3;
}

.TableStyle-Normal-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Tahoma;
	font-style: normal;
}

.TableStyle-Normal-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyI-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyI-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyE-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyE-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyF-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyF-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyH-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyD-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyD-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyC-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyC-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyB-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyB-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyA-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyA-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyG-Column1-Body1
{
	color: #002f5f;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyG-Column1-Body1 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyI-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
}

.TableStyle-Normal-BodyI-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyE-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyE-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyF-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyF-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyH-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyD-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
	border-bottom-width: 1px;
	border-bottom-color: #7eafd2;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyD-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyC-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
}

.TableStyle-Normal-BodyC-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyB-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
	border-right-width: 1px;
	border-right-color: #7eafd2;
	border-right-style: solid;
}

.TableStyle-Normal-BodyB-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyA-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
}

.TableStyle-Normal-BodyA-Column1-Body2 p
{
	color: #002f5f;
}

.TableStyle-Normal-BodyG-Column1-Body2
{
	color: #002f5f;
	background-color: #ebf6fc;
}

.TableStyle-Normal-BodyG-Column1-Body2 p
{
	color: #002f5f;
}

