#
# {{ deploy_ioc_substitution_file_name }}.substitutions
# {{ ansible_managed }}
#

{% for template in deploy_ioc_substitution_templates %}
file "{{ template.filepath }}"
{{"{"}}
pattern
{{"{"}}{{ template.pattern | join(', ') }}{{"}"}}
{% for instance in template.instances %}
{{"{"}}
{%- for macro in template.pattern %}
{%- if "$(" + macro|string + ")" in instance[loop.index - 1]|string %}
"{{ instance[loop.index - 1] | replace("$(" + macro + ")", deploy_ioc_merged_env[macro]) }}"
{%- else %}
"{{ instance[loop.index - 1] }}"
{%- endif %}
{%- if not loop.last %},{{" "}}
{%- else %}
{{"}"}}
{% endif %}
{% endfor %}
{% endfor %}
{{"}"}}

{% endfor %}
