
< /epics/common/{{ inventory_hostname.split('.')[0] }}-netsetup.cmd

errlogInit(20000)

{% for envvar in deploy_ioc_merged_env|dict2items %}
{% set vars = {'deploy_ioc_expanded_envvar': envvar.value} %}
{% if "$(" in envvar.key %}
{% for macro in deploy_ioc_merged_env|dict2items %}
{{ macro.key }}
{% endfor %}
{% endif %}
epicsEnvSet("{{ envvar.key }}", "{{ vars.deploy_ioc_expanded_envvar }}")
{% endfor %}
