
cd $(TOP)/{{ deploy_ioc_as_dir_name }}/req

{% if deploy_ioc_make_autosave_files %}
makeAutosaveFiles()
create_monitor_set("info_settings.req", 30, "")
create_monitor_set("info_positions.req", 10, "")

{% endif %}
{% for reqfile in deploy_ioc_req_file_list %}
create_monitor_set("{{ reqfile.name }}", 30, "{{ reqfile.macros }}")
{% endfor %}

{% for dbpf in deploy_ioc_dbpf_list %}
dbpf "{{ dbpf.pv }}", "{{ dbpf.value }}"
{% if dbpf.sleep is defined %}
epicsThreadSleep({{ dbpf.sleep }})
{% endif %}
{% endfor %}

cd $(TOP)
